*.txt
*.out
*.pt
events.out.*
log-train*
log-decode*
*.model
*.vocab
*.arrow
*.bin
*.pth
*.safetensors
*.csv
*/__pycache__/
predictions/
processor_en/
*.sh
CASTLE/
*plots/
CTC/*.log
data/
logs/
*.log
*.out
lm/
__pycache__/